@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

html {
  background-color: rgb(255, 255, 255);
  font-family: 'Poopins', sans-serif;
}

body {
  background: rgb(255, 255, 255);
  margin-top: 0;
  padding-top: 0;
}

/* top bar start */

.top-bar {
  margin: 0;
}

/* logo text start */
.nav-bar {
  /* background-color: ghostwhite; */
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.logo-placeholder {
  width: 100px;
  height: 40px;

  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-div {
  width: 76px;
  height: 20px;

  /* border: 1px solid red; */
  text-decoration: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

/* logo text end */

/* hamburger icon start  */
.bt {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 1%;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.squeezer {
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 14px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-around;
}

.bt1 {
  width: 16px;
  border: 1px solid #6070ff;
  border-radius: 1px;
}

/* hamburger icon end */

/* top bar end */

/* headline section */

.welcome-section {
  background-color: #fff;
}

.headline-wrapper {
  /* padding-bottom: 100px; */
  background-image: url("../images/header-shapes.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.headline-container {
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 25px;
  padding-top: 100px;
}

.intro-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  font-family: 'Poppins', sans-serif;
  color: #091e42;
  margin: 12px 0;
}

.intro-message {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #344563;
}

.connect h3 {
  color: #6070ff;
}

.social {
  display: flex;

  /* background-color: red; */
  width: 170.17px;
  height: 20px;
  justify-content: space-between;
  align-items: center;
}

.twitter {
  background-image: url("../images/t.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.tw_img {
  height: 20px;
  width: 20px;
}

.linkedin {
  background-image: url("../images/l.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.lk_img {
  height: 20px;
  width: 20px;
}

.medium {
  background-image: url("../images/m.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.m_img {
  height: 20px;
  width: 20px;
}

.git {
  background-image: url("../images/g.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.g_img {
  height: 20px;
  width: 20px;
}

.angel {
  background-image: url("../images/a.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.a_img {
  height: 20px;
  width: 20px;
}

/* work-section */
.works {
  display: grid;
  gap: 88px;
  align-items: center;
  margin-top: 114px;
}

.project1 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 16px;
}

.project1 img {
  display: block;
  align-self: center;
  justify-content: center;
  margin: auto;
}

.img {
  /* width: 100%; */
}

.pri_text {
  color: #172b4d;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
}

.pri_text h1 {
  margin: 12px 0 0 0;
}

.det_text {
  display: flex;
  margin: 20px 0;
}

.det_text img {
  align-self: center;
  margin-left: 12px;
  margin-right: 12px;
}

.canopy {
  color: #344563;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.detail {
  color: #7a869a;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.des_text {
  color: #344563;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.tag_text ul {
  list-style-type: none;
  /* display: flex; */
  gap: 8px;
  padding-left: 0;
}

.tags {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  float: inline-start;
}

.button {
  color: #396df2;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background: none;
  padding: 12px;
  width: fit-content;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px 0 #4053fc3d;
  color: #fff;
}

button:active {
  background: #2230d2;
  color: #fff;
}

button:disabled {
  color: #5e6c84;
}

/* about section start */

.about {
  padding: 24px;
  background: #fff;
  border-radius: 0 70px 0 0;
  margin-top: 114px;
}

.about-text {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 114px;
}

.description {
  color: #344563;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.lets-con {
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-1 {
  display: flex;
}

.social-1ist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 60%;
}

.social-icons {
  list-style: none;
}

/* languages */
.list-lang {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 48px;
}

.lang-arrow {
  display: flex;
  justify-content: space-between;
}

.lang-arrow img {
  margin-right: 40px;
}

.lang-arrow-right {
  transform: rotate(-90deg);
}

.lang-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.lang-wrapper {
  margin-top: 36px;
}

.lang {
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
}

.lang img {
  display: block;
  align-self: center;
  justify-content: center;
  margin: 9px 16px 9px 12px;
}

hr {
  margin: 0;
}

/* pair programming */
.float-element1 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  float: inline-start;
  width: 50px;
  height: 20px;
}
.float-element2 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  float: left;
  width: 50px;
  height: 20px;
}

.float-element3 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  float: right;
  width: 50px;
  height: 20px;
}