@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

html {
  background-color: rgb(255, 255, 255);
  font-family: 'Poopins', sans-serif;
}

body {
  background-color: #fff;
  margin-top: 0;
  padding-top: 0;
}

/* top bar start */

.top-bar {
  margin: 0;
}

/* logo text start */
.nav-bar {
  /* background-color: ghostwhite; */
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.logo-placeholder {
  width: 100px;
  height: 40px;

  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-div {
  width: 76px;
  height: 20px;

  /* border: 1px solid red; */
  text-decoration: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

/* logo text end */

/* hamburger icon start  */
.bt {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 1%;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.squeezer {
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 14px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-around;
}

.bt1 {
  width: 16px;
  border: 1px solid #6070ff;
  border-radius: 1px;
}

/* hamburger icon end */

/* top bar end */

/* headline section */

.welcome-section {
  background-color: #fff;
}

.headline-wrapper {
  /* padding-bottom: 100px; */
  background-image: url("../images/header-shapes.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.headline-container {
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 25px;
  padding-top: 100px;
}

.intro-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  font-family: 'Poppins', sans-serif;
  color: #091e42;
  margin: 12px 0;
}

.intro-message {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #344563;
}

.connect h3 {
  color: #6070ff;
}

.social {
  display: flex;

  /* background-color: red; */
  width: 170.17px;
  height: 20px;
  justify-content: space-between;
  align-items: center;
}

.twitter {
  background-image: url("../images/t.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.tw_img {
  height: 20px;
  width: 20px;
}

.linkedin {
  background-image: url("../images/l.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.lk_img {
  height: 20px;
  width: 20px;
}

.medium {
  background-image: url("../images/m.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.m_img {
  height: 20px;
  width: 20px;
}

.git {
  background-image: url("../images/g.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.g_img {
  height: 20px;
  width: 20px;
}

.angel {
  background-image: url("../images/a.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.a_img {
  height: 20px;
  width: 20px;
}

/* work-section */
.works {
  display: grid;
  align-items: center;
  margin-top: 114px;

}

.project1 {
  padding: 16px;
  border: 1px solid #DFE1E6;
  box-sizing: border-box;
  border-radius: 16px;
}

.project1 img {
  display: block;
  align-self: center;
  justify-content: center;
  margin: auto;
}

.img {
  /* width: 100%; */

}

.pri_text {
  color: #172B4D;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin: 0px;
  /* line-height: 44px; */
}

.pri_text h1 {
  margin: 12px 0px 0px 0px;
}


.det_text {
  display: flex;
  margin: 20px 0px;

}

.det_text img {

  align-self: center;
  margin-left: 12px;
  margin-right: 12px;

}

.canopy {
  color: #344563;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.detail {
  color: #7A869A;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.des_text {
  color: #344563;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.tag_text ul {
  list-style-type: none;
  display: flex;
  gap: 8px;
  padding-left: 0px;
}


.tags {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070FF;
  background: #EBEBFF;
  border-radius: 8px;
  padding: 4px 12px;
}

.button {
  color: #396DF2;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #6070FF;
  box-sizing: border-box;
  border-radius: 8px;
}

