@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

html {
  background-color: rgb(255 255 255);
  font-family: Poopins, sans-serif;
}

body {
  background: #e5e5e5;
  margin: 0;
  padding: 0;
}

/* top bar start */

.top-bar {
  margin: 0;
}

/* logo text start */
.nav-bar {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding-top: 48px;
  padding-bottom: 26px;
}

.logo-placeholder {
  width: 100px;
  height: 40px;

  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
}

.logo-div {
  width: 76px;
  height: 20px;

  /* border: 1px solid red; */
  text-decoration: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

/* logo text end */

/* hamburger icon start  */
.bt {
  width: 40px;
  height: 40px;
  background-color: rgb(255 255 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 24px;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: rgb(255 255 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.squeezer {
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 14px;
  background-color: rgb(255 255 255);
  align-items: center;
  justify-content: space-around;
}

.bt1 {
  width: 16px;
  border: 1px solid #6070ff;
  border-radius: 1px;
  background: #6070ff;
}

/* hamburger icon end */

/* top bar end */

/* headline section */

.welcome-section {
  background-color: #fff;
  border-radius: 0 0 0 85px;
}

.headline-wrapper {
  padding-bottom: 200px;
  background-image: url("/assets/images/intro_section_bg/intro_bg.png.png");
  background-repeat: no-repeat;
}

.headline-container {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  padding-top: 101px;
}

.intro-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  margin: 0;
}

.intro-message {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.connect {
  color: #6070ff;
  margin: 0 0 12px;
}

h3 {
  margin: 0;
}

.social {
  display: flex;

  /* background-color: red; */
  width: 170.17px;
  height: 20px;
  justify-content: space-between;
  align-items: center;
}

.twitter {
  background-image: url("../images/t.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.tw_img {
  height: 20px;
  width: 20px;
}

.linkedin {
  background-image: url("../images/l.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.lk_img {
  height: 20px;
  width: 20px;
}

.medium {
  background-image: url("../images/m.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.m_img {
  height: 20px;
  width: 20px;
}

.git {
  background-image: url("../images/g.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.g_img {
  height: 20px;
  width: 20px;
}

.angel {
  background-image: url("../images/a.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  /* background-size: contain; */
}

.a_img {
  height: 20px;
  width: 20px;
}

/* work-section */
.works {
  display: grid;
  gap: 88px;
  align-items: center;
  margin-top: 114px;
}

.project1 {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 0 24px;
}

.project1 img {
  display: block;
  align-self: center;
  justify-content: center;
  margin: auto;
}

.img {
  /* width: 100%; */
}

.pri_text {
  color: #172b4d;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
}

.pri_text h1 {
  margin: 12px 0 0;
}

.det_text {
  display: flex;
  margin: 20px 0;
}

.det_text img {
  align-self: center;
  margin-left: 12px;
  margin-right: 12px;
}

.canopy {
  color: #344563;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.detail {
  color: #7a869a;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.des_text {
  color: #344563;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.tag_text ul {
  list-style-type: none;
  display: flex;
  gap: 8px;
  padding-left: 0;
}

.tags {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

.button {
  color: #396df2;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background: none;
  padding: 12px;
  width: fit-content;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px 0 #4053fc3d;
  color: #fff;
}

button:active {
  background: #2230d2;
  color: #fff;
}

button:disabled {
  color: #5e6c84;
}

/* about section start */

.about {
  padding: 24px 24px 113px;
  background: #fff;
  border-radius: 0 70px 0 0;
  margin-top: 114px;
}

.about-text {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 114px;
}

.description {
  color: #344563;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.lets-con {
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-1 {
  display: flex;
}

.social-1ist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 60%;
}

.social-icons {
  list-style: none;
}

/* languages */
.list-lang {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 48px;
}

.lang-arrow {
  display: flex;
  justify-content: space-between;
}

.lang-arrow img {
  margin-right: 40px;
}

.lang-arrow-right {
  transform: rotate(-90deg);
}

.lang-text {
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 24px;
  padding: 24px 0;
}

.lang-wrapper {
  margin-top: 36px;
}

.lang {
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
}

.lang img {
  display: block;
  align-self: center;
  justify-content: center;
  margin: 9px 16px 9px 12px;
}

hr {
  margin: 0;
}

/* contact form start */
footer {
  background-color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #6070ff;
  border-radius: 86px 0 0;
  background-image: url("/assets/images/contact-image/contact-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.form-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  margin: 103px 0 0;
}

.form-description {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin: 12px 24px 0;
  text-align: center;
  padding: 12px 24px;
}

.form-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.uname {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  height: 48px;
  margin: 57px 24px 0;
  width: 327px;
}

.uname::placeholder {
  padding-left: 16px;
  padding-top: 15px;
}

.email {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  height: 48px;
  margin: 20px 24px 0 24px;
  width: 327px;
}

.email::placeholder {
  padding-left: 16px;
  padding-top: 15px;
}

.text-area {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  margin: 18px 24px 0 24px;
  height: 170px;
  vertical-align: top;
  font-family: Poppins, sans-serif;
  width: 327px;
}

.text-area::placeholder {
  padding-left: 16px;
  padding-top: 15px;
}

.button1 {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  background: #fff;
  border-radius: 8px;
  border-color: #fff;
  padding: 12px 16px;
  margin: 22px 24px 45px;
  border: 1px solid #cfd8dc;
}

.last_line {
  height: 10px;
  padding-bottom: 8px;
}

.black_line {
  background-color: black;
  padding: 3px 0;
  border-radius: 3px;
  margin: 0 118px;
}
